@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar styling - custom

/* Chrome, Edge, Brave */
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9ae600;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7cb800;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

